<div class="row">
    <div class="col s6 offset-s3">


        {{!-- Сообщение об ошибки --}}
        {{#if error}}
        <p class="alert">{{error}}</p>
        {{/if}}
        {{!-------------------------}}


        <h2>Придумайте новый пароль</h2>
        <form action="/auth/password" method="post">
            <div class="input-field">
                <input class="validate" id="password" name="password" required type="password">
                <label for="email">Пароль</label>
                <span class="helper-text" data-error="Введите пароль" data-success="right"></span>
            </div>


            {{!---------------- инпуты для защиты ----------------}}
            {{!-- csrf защита --}}
            <input type="hidden" name="_csrf" value="{{csrf}}">
            {{!-- userId защита --}}
            <input type="hidden" name="userId" value="{{userId}}">
            {{!-- token защита --}}
            <input type="hidden" name="token" value="{{token}}">
            {{!---------------------------------------------------}}


            <button class="btn btn-primery">Обновить пароль</button>
        </form>
    </div>
</div>