<footer class="footer">
    <div class="container">
        <h2 class="footer__title">
            Mechatronics
        </h2>
        <p class="footer__text">Добро пожаловать в интернет-магазин замечательных товаров!
            Мы с радостью принимаем и обслуживаем заказы 5 ( Пн - Пт ) дней в неделю с 10 до 18 по Новосибирскому времени. Доставка возможна как по Новосибирску, так и в регионы. Сделайте заказ через
            сайт и мы
            Вам
            перезвоним
            для
            согласования времени доставки заказа.</p>
        {{!-- footer__nav --}}
        <div class="footer__nav">
            <div class="footer__inner">
                <h2 class="footer__nav-title">Компания</h2>
                <a href="/about-us">О нас</a>
                <a href="/policy">Наши политика</a>
                <a href="/services">Услуги</a>
            </div>
            <div class="footer__inner">
                <h2 class="footer__nav-title">Информация</h2>
                <a href="/registr">Регистрация</a>
                <a href="/pay">Оплата</a>
                <a href="/discounts">Акции и скидки</a>
            </div>
            {{!-- footer__contacts --}}
            <div class="footer__contacts">
                <h2 class="footer__nav-title">Наши контакты</h2>
                <span class="contacts__item contacts__item--phone"><i class="fas fa-phone-alt"></i>+7(953)761-73-86</span>
                <span class="contacts__item contacts__item--email"><i class="fas fa-envelope"></i>niki.babko@gmail.com</span>
                <span class="contacts__item contacts__item--address"><i class="fas fa-map-marker-alt"></i>Новосибирск, ул.Шукшина | Пн-Пт 09.00-18.00 | Сб-Вс Выходные</span>
            </div>
            {{!-- </footer__contacts> --}}
            <span class="rights"><i class="far fa-copyright"></i>2020 Mechatronics - интернет-магазин комплектующих для ардуино и робототехники</span>
        </div>
        {{!-- </footer__nav> --}}
    </div>
    {{!-- </container> --}}
    <div class="footer__social">
        <a href="https://vk.com/whiterabbitai" target="_blank" class="social__link"><i class="fab fa-vk"></i></a>
        <a href="https://www.facebook.com/nikita.babko" target="_blank" class="social__link"><i class="fab fa-facebook-f"></i></a>
        <a href="https://www.linkedin.com/in/%D0%BD%D0%B8%D0%BA%D0%B8%D1%82%D0%B0-%D0%B1%D0%B0%D0%B1%D0%BA%D0%BE-621618186/" target="_blank" class="social__link"><i class="fab fa-linkedin-in"></i></a>
        <a href="https://t.me/White_Rabbit_AI" target="_blank" class="social__link"><i class="fab fa-telegram-plane"></i></a>
        <a href="https://twitter.com/white_rabbit_ai" target="_blank" class="social__link"><i class="fab fa-twitter"></i></a>
    </div>
    {{!-- </footer__social> --}}
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>

<script crossorigin="anonymous" src="https://kit.fontawesome.com/d3b9a0e4ec.js"></script>
<script src="/app.js"></script>