.products {
    width: 1200px;
    margin: 0 auto;
    img {
        width: 20rem;
    }
}

.products__inner {
    display: flex;
    margin: 0 5rem;
    padding: 100px 0;
    width: 1300px;
    overflow: scroll;

    &:first-child {
        margin-left: 0;
    }
}

.cards {
    margin: 0 3rem;
    padding: 3rem;
    text-align: center;
    box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.5);
}

.card__content {
    display: flex;
    flex-direction: column;
    text-align: left;
    line-height: 1.6;
}

.card__action {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 3rem;
    a {
        text-decoration: none;

        color: rgb(243, 130, 0);
    }
}

.products__add-review {
    display: flex;
    flex-direction: column;
    input {
        display: block;
        margin: 0 auto 2rem;
    }
}

.products__btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(197, 89, 26);
    color: #fff;
    transition: all 0.4s linear;

    &:hover {
        background-color: #000;
        color: rgb(197, 89, 26);
    }
}
