<section class="about-us">
    <div class="container">
        <section class="subsection-about-us-one">
            <h2 class="section__title">О компании</h2>
            <p>Мы молодая, активно развивающаяся Российская компания, с 2020 года занимающаяся производством принтеров.</p>
            <p>Наша организация работает в нескольких направлениях:
                <ul>
                    <li>Продажа компонентов "arduino"</li>
                    <li>Консультация касаемо компонентов ( поможем собрать, разобраться )</li>
                </ul>
            </p>
        </section>

        <section class="subsection-about-us-two">
            <h3 class="section__subtitle">Mechatronics - Скорая помощь для Ваших проектов!</h3>
            <p>В нашем интернет-магазине 3DiY Вы можете приобрести 3D-принтеры, комплектующие к ним и пластик для печати, комплектующие для ЧПУ, а также все необходимое для Arduino проектов. Мы
                поможем найти необходимые товары по доступной цене и доставим их в максимально короткие сроки.</p>
            <span class="we-help">
                <p>Мы поможем осуществить все Ваши идеи! Поможем Вам стать настоящими мэйкерами!</p>
            </span>
            <div class="about-us__inner">
                <div class="about-us__item about-us__item--supp">
                    <img src="/img/about-us/support.jpg" alt="">
                    <div>
                        <h4>Поддержака клиентов</h4>
                        <p>Мы осуществляем техническую и сервисную поддержку. Если Вы приобрели что то у нас, для Вас доступна индивидуальная тех. поддержка в течение 1 года. Поможем
                            Вам стать настоящим мэйкером! Если возникли вопросы, свяжитесь с нами любым удобным для Вас способом.
                        </p>
                        <a href="/products">Перейти в магазин</a>
                    </div>
                </div>
            </div>
            <div class="about-us__inner">
                <div class="about-us__item ">
                    <img src="/img/about-us/assortment.jpg" alt="">
                    <div>
                        <h4>Большой ассортимент</h4>
                        <p>В магазине предоставлен широкий ассортимент запчастей ( компонентов ) для
                            датчиков и модулей для проектов по робототехнике на базе Arduino.</p>
                        <a href="/products">Перейти в магазин</a>
                    </div>
                </div>
            </div>
            <div class="about-us__inner">
                <div class="about-us__item">
                    <img src="/img/about-us/assortment.jpg" alt="">
                    <div>
                        <h4>Всегда в наличии</h4>
                        <p>Оборудование, комплектующие и расходники в большом разнообразие на складе в Новосибирске.</p>
                        <a href="/products">Перейти в магазин</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="why-me">
            <h2 class="section__subtitle">Почему именно мы?</h2>
            <div class="why-me__inner">
                <div class="why-me__column-left">
                    <h4>1. Мы фанаты своего дела</h4>
                    <ul>
                        <li>В нашем арсенале накоплен огромный опыт и знания о конструировании "Arduino".</li>
                        <li>Мы здесь, чтобы облегчить ваши задачи, всегда готовы поделиться знаниями и информацией!</li>
                    </ul>
                    <h4>2. Покажем и расскажем</h4>
                    <ul>
                        <li>С Пн по Пт с 8:00 до 18:00 двери нашего офиса открыты</li>
                        <li>Всегда рады ответить на ваши вопросы, мы любим общаться!</li>
                    </ul>
                </div>
                <div class="why-me__column-right">
                    <h4>3. Не нашли нужный товар?</h4>
                    <ul>
                        <li>Мы всегда пополняем наш ассортимент и поддерживаем наличие товара на складе.</li>
                        <li>Не нашли интересующий товар? Не вопрос – доставим специально для вас в минимальные сроки!</li>
                    </ul>
                    <h4>4. Нашим клиентам хорошие скидки</h4>
                    <ul>
                        <li>Не хватает денег? Сделаем скидку, дадим рассрочку!</li>
                        <li>Быть клиентом 3DIY выгодно – хорошие скидки, консультация, техподдержка!
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
    {{!-- </container> --}}
</section>
{{!-- </about-us> --}}