{{!-- //TODO: Доделать --}}
<section class="delivery">
    <div class="delivery__container container">

        <section class="pickup">
            <h2 class="section__title">Информация о доставке</h2>
            <h3 class="section__subtitle">Самовывоз из офиса в Новосибирске</h3>
            <ul>
                <li>Забрать Ваш заказ самостоятельно Вы можете по адресу: Новосибирск, Выборгский район, ул.Краснова</li>
                <li>Согласно графику работы: Пн. - Пт. 09:00-18:00.</li>
                <li>Оплата — наличными или через терминал</li>
            </ul>

            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2291.938878367979!2d83.12117901637886!3d54.93909056191843!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x42dfc1fc67c02d69%3A0xf5b821260ecc650!2z0YPQuy4g0KjRg9C60YjQuNC90LAsINCd0L7QstC-0YHQuNCx0LjRgNGB0LosINCd0L7QstC-0YHQuNCx0LjRgNGB0LrQsNGPINC-0LHQuy4sIDYzMDA2OA!5e0!3m2!1sru!2sru!4v1583743210951!5m2!1sru!2sru"
                width="1000" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </section>

        <section class="guarant">
            <h3 class="section__subtitle">Гарантии и возврат</h3>
            <p>Наш магазин работает в соответствии с Законом РФ "О защите прав потребителей".
                В соответствие с п. 4 ст. 26.1 ФЗ» О защите прав потребителей» и п. 21 Постановления Правительства РФ « Об утверждении правил продажи товаров дистанционным способом» потребитель
                (покупатель) имеет право отказаться от товара (в том числе и надлежащего качества) в любое время до его передачи, а после передачи – в течение 7 дней. При этом, обмен товара
                надлежащего
                качества возможен только в случае, если: товар не включен в перечень товаров надлежащего качества, не подлежащих возврату утвержденный Постановлением Правительства РФ №55 от 19.01.1998
                г.
            <ul>
                <li>Товар не был в употреблении</li>
                <li>Сохранены фабричные ярлыки, гарантийные талоны, техническая документация, комплектующие детали</li>
                <li>Сохранена упаковка товара</li>
                <li>В наличии документы, подтверждающие факт и условия покупки указанного товара (Ст. 25 Закона "О защите прав потребителей").</li>
            </ul>
            В случае отказа от товара возврату подлежит уплаченная сумма, за исключением расходов на доставку товара, а также других расходов интернет-магазина, подлежащих компенсации за счет
            Покупателя (Ст. 26.1 Закона "О защите прав потребителей").
            </p>


            <h4>Обмен и возврат товара ненадлежащего качества</h4>
            <p>В отношении технически сложного товара потребитель в случае обнаружения в нем недостатков вправе отказаться от исполнения договора купли-продажи и потребовать возврата уплаченный за
                такой
                товар суммы либо предъявить требование о его замене на товар этой же марки (модели, артикула) или на такой же товар другой марки (модели, артикула) с соответствующим перерасчетом
                покупной
                цены в течение 15 дней со дня передачи потребителю такого товара. По истечении этого срока указанные требования подлежат удовлетворению в одном из следующих случаев:</p>
            <ul>
                <li>Обнаружение существенного недостатка товара;</li>
                <li>Нарушение установленных Законом сроков устранения недостатков товара;</li>
                <li>Невозможность использования товара в течение каждого года гарантийного срока в совокупности более чем 30 дней вследствие неоднократного устранения его различных недостатков.
                    В случае неисправности технически сложного изделия в первые 15 дней Вы имеете право вернуть товар, если поломка произошла не по Вашей вине. В этом случае:</li>
                <li>Товар отсылается на независимую экспертизу, для установления причины поломки;</li>
                <li>Если экспертиза устанавливает, что неисправность возникла по вине производителя, Вам в полном объеме возвращаются деньги (исключая сумму доставки) или заменяется товар.</li>
            </ul>
        </section>

        <div class="contact-with-us">
            <h2 class="section__subtitle section__subtitle--left">Остались вопросы? Будем рады ответить!</h2>
            <ul>
                <li>Звоните: +7 (953) 761-73-86</li>
                <li>Пишите: niki.babko@gmail.com</li>
            </ul>
        </div>

    </div>
</section>