<section class="section">
    <div class="container">
        <h2 class="section__title">{{title}}</h2>
        <h3 class="section__subtitle">На день рождения</h3>
        <img src="/img/discounts/happy-birthday.jpg" alt="discounts">
        <p>
            Мы приготовили праздничные скидки в День рождения для покупателей. В День рождения и в течение нескольких дней до и после торжества вы можете получить дополнительные скидки и приятные
            подарки. Все, что вам необходимо - показать паспорт при оплате на кассе.
        </p>
    </div>
</section>