<section class="pay">
    <div class="container">
        <h2 class="section__title">Условия оплаты</h2>
        <h3 class="section__subtitle">Наличными или картой при получении заказа</h3>
        <p>Заказ можно оплатить наличными, по факту получения товара при самовывозе</p>

        <h3 class="section__subtitle">Информация, размещенная на сайте, не является публичной офертой</h3>
        <ol>
            <li>Вся представленная на сайте информация, касающаяся технических характеристик, наличия на складе, стоимости товаров, носит информационный характер и ни при каких условиях не является
                публичной офертой, определяемой положениями Статьи 437(2) Гражданского кодекса РФ.</li>
            <li>Нажатие на кнопки "Купить", "Разместить заказ", "Оформить заказ", а также последующее заполнение тех или иных форм, не накладывает на владельцев сайта никаких обязательств.</li>
            <li>Присланное по e-mail сообщение, содержащее копию заполненной формы заявки на сайте, не является ответом на сообщение потребителя или подтверждением заказа со стороны владельцев сайта.
            </li>
            <li>Все материалы, размещенные на сайте являются собственностью владельцев сайта, либо собственностью организаций, с которыми у владельцев сайта есть соглашение о размещении материалов.
                Копирование любой информации может повлечь за собой уголовное преследование.</li>
            <li>Регистрируясь на сайте или оставляя тем или иным способом свою персональную информацию, Вы делегируете право сотрудникам компании обрабатывать вашу персональную информацию.</li>
            <li>Для аналитических целей на сайте работает система статистики, которая собирает информацию о посещенных страницах сайта, заполненных формах и т.д. Сотрудники компании имеют доступ к
                этой информации.</li>
            <li>Покупатель соглашается с тем, что Интернет-магазин вправе передавать информацию о размещенных Покупателем заказах третьим лицам. Переданная Интернет-магазином информация, включающая
                данные о номере и содержании заказа, электронного адреса и номера телефона Покупателя, может быть использована исключительно в целях оценки деятельности Интернет-магазина и улучшения
                качества обслуживания Покупателей.</li>
            <li>Оформляя заказ на сайте или иным способом становясь клиентом нашей компании, вы принимаете все вышеперечисленные условия.</li>
        </ol>
    </div>
</section>