<section class="policy">
    <div class="container">
        <h2 class="section__title">Соглашение на обработку персональных данных</h2>
        <h3 class="section__subtitle">Текст соглашения на обработку данных: </h3>
        <p>Настоящим в соответствии с Федеральным законом № 152-ФЗ «О персональных данных» от 27.07.2006 года Вы подтверждаете свое согласие на обработку компанией ООО "HIC" персональных данных:
            сбор, систематизацию, накопление, хранение, уточнение (обновление, изменение), использование, передачу исключительно в целях доставки заказа на Ваше имя и для уведомления об изменении
            статуса заказа, как это описано ниже, блокирование, обезличивание, уничтожение.
            <br>
            <br>
            Компания ООО "HIC" гарантирует конфиденциальность получаемой информации. Обработка персональных данных осуществляется в целях эффективного исполнения заказов, договоров и иных
            обязательств, принятых компанией ООО "HIC" в качестве обязательных к исполнению.
            <br>
            <br>
            В случае необходимости предоставления Ваших персональных данных транспортным компаниям для доставки заказа на Ваше имя, а также sms и e-mail сервисам коммуникаций для уведомления Вас об
            изменении статуса заказа, Вы даёте согласие на передачу ваших персональных данных. Компания ООО "HIC" гарантирует, что транспортные компании и сервисы коммуникаций осуществляет защиту
            персональных данных на условиях, аналогичных изложенным в Политике конфиденциальности персональных данных.
            <br>
            <br>
            Настоящее согласие распространяется на следующие Ваши персональные данные: фамилия, имя и отчество, адрес электронной почты, почтовый адрес доставки заказов, контактный телефон, платёжные
            реквизиты.
            <br>
            <br>
            Срок действия согласия является неограниченным. Вы можете в любой момент отозвать настоящее согласие, направив письменное уведомления на электронный адрес niki.babko@gmail.com с пометкой
            «Отзыв
            согласия на обработку персональных данных».
            <br>
            <br>
            Обращаем ваше внимание, что отзыв согласия на обработку персональных данных влечёт за собой удаление Вашей учётной записи с Интернет-сайта, а также уничтожение записей, содержащих ваши
            персональные данные, в системах обработки персональных данных компании ООО "HIC", что может сделать невозможным пользование интернет-сервисами компании ООО "HIC".
            <br>
            <br>
            Соглашаясь на обработку персональных данных, Вы гарантируете, что представленная Вами информация является полной, точной и достоверной, а также что при представлении информации не
            нарушаются действующее законодательство Российской Федерации, законные права и интересы третьих лиц. Вся представленная Вами информация заполнена в отношении себя лично.
            <br>
            <br>
            Настоящее согласие действует в течение всего периода хранения персональных данных, если иное не предусмотрено законодательством Российской Федерации.</p>
    </div>
</section>