<div class="section">
    <div class="container">
        <h2 class="section__title">{{title}}</h2>
        <h3 class="section__subtitle">Поможем собрать, настроить плату и т.д: наши преимущества:</h3>
        <img src="/img/services/repair.jpg" alt="services">
        <p>Наш сервисный центр предлагает ремонт, сбор "arduino". Осуществляем диагностику, настройку и обслуживание моделей различных производителей.
            Выполняем ремонт только
            после тщательной диагностики, что позволяет нам выявить все дефекты и устранить неисправности. Среди других преимуществ обслуживания в нашем сервисном центре:</p>
        <ul>
            <li>использование деталей и расходных материалов ведущих мировых производителей;</li>
            <li>высокая квалификация специалистов и большой опыт работы с различными 3D-принтерами;</li>
            <li>наличие профессионального инструмента и оборудования;</li>
            <li>собственный склад комплектующих позволяет оперативно выполнять ремонт любой сложности;</li>
            <li>доступные цены на все виды обслуживания.</li>
        </ul>
        <p>Наши специалисты отлично знакомы с особенностями компонентов "arduino" различных моделей, это позволяет закончить ремонт быстро и качественно, с минимальными затратами для клиентов.</p>
        <h3 class="section__subtitle">Основные виды работ при ремонте комплектующих</h3>
        <p>В нашем сервисном центре выполняется широкий перечень работ, наиболее часто специалисты сталкиваются со следующими проблемами:</p>
        <ul>
            <li>необходимость перепрошивки электроники;</li>
            <li>установка новой механики;</li>
            <li>установка или установка новых приводных ремней;</li>
            <li>сервисное обслуживание экструдера;</li>
            <li>замена вышедшего из строя процессора.</li>
        </ul>
        <p>Вам требуется установка нового процессора или другая модернизация платы, нужна квалифицированная настройка прошивки? У материнки проблемы с механикой или требуется новый
            корпус. Обращайтесь в нашу компанию и все необходимое будет выполнено в соответствие с самыми строгими требованиями!</p>
    </div>
</div>